

@import 'styles/colors.scss';
@import 'styles/to-rem.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $c-main-text;

    transition: transform .3s ease;

    &:hover {
        cursor: pointer;
    }
}