@import './vendors/normalize.css';
@import './tools/index.scss';
@import './pages/home.scss';
@import './pages/sell-pages.scss';
@import './pages/rent-pages.scss';
@import './vendors/fullpage-styles.scss';


@font-face {
    font-family: "UniNeue";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/UniNeueRegular.woff2);
    src: url(../fonts/UniNeueRegular.ttf) format("ttf"), url(../fonts/UniNeueRegular.woff) format("woff")
}

// fonts variables
$font-main-regular: 'UniNeue', sans-serif;

// Other page styles
body {
    font: 400 14px/1.2 $font-main-regular, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;

    &.pace-running {
        overflow: hidden;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 4;
    padding: 0 15px;
}

a,
h1,
h2,
h3,
h4,
h5,
p {
    outline: none;
    text-decoration: none;
    padding: 0;
    margin: 0
}

ul {
    list-style: none;
    padding: 0
}

.c-orange {
    color: $c-orange-text;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    font-size: 1.125rem;
    padding: 10px 20px;
    transition: all .3s ease;
    backdrop-filter: blur(10px);
    border: 2px solid transparent;

    &:hover {
        cursor: pointer;
        transform: scale(105%) // box-shadow: 0px 0px 20px $c-orange;
    }

    &.-primary {
        color: #000;
        background-color: $c-main-bg;
        border-radius: 33px;
        border-radius: 33px;
    }

    &.-secondary {
        border: 2px solid $c-main-bg;
        border-radius: 33px;
        border-radius: 33px;
    }

    &.-rectangle {
        color: #000;
        background-color: $c-main-bg;
        border: transparent;
    }
}

.header {
    position: fixed;
    overflow: scroll;
    right: -50vw;
    top: 0;
    bottom: 0;
    width: 50vw;
    border-bottom: none;
    border-left: 5px solid $c-main-bg;
    background-color: $c-white-bg;
    padding: toRem(25) 0;
    transition: all .5s ease-in-out;
    z-index: 6;


    &.active {
        right: 0;
        padding: 1.563rem .938rem
    }

    .button_burger {
        display: block;
        position: fixed;
        top: toRem(25);
        right: toRem(25);
        width: 25px;
        height: 23px;
        z-index: 6;

        &:hover {
            cursor: pointer;
        }

        & span {
            background-color: $c-main-bg;
            position: absolute;
            border-radius: 2px;
            transition: .3s cubic-bezier(.8, .5, .2, 1.4);
            width: 100%;
            height: 3px;
            transition-duration: .5s;

            &:first-child {
                top: 0;
                left: 0
            }

            &:nth-child(2) {
                top: 8px;
                left: 0;
                opacity: 1
            }

            &:nth-child(3) {
                top: 16px;
                left: 0
            }
        }

        &:not(.open):hover span:first-child {
            transform: rotate(-3deg) scaleY(1.1)
        }

        &:not(.open):hover span:nth-child(2) {
            transform: rotate(3deg) scaleY(1.1)
        }

        &:not(.open):hover span:nth-child(3) {
            transform: rotate(-4deg) scaleY(1.1)
        }

        &.open span:first-child {
            transform: rotate(45deg);
            top: 8px;
            background-color: $c-orange-text
        }

        &.open span:nth-child(2) {
            opacity: 0
        }

        &.open span:nth-child(3) {
            transform: rotate(-45deg);
            top: 8px;
            background-color: $c-orange-text
        }
    }

    @media (max-width:520px) {
        &.active {
            width: 100%;
            right: 0;
            padding: 1.563rem 0;
            border: none
        }
    }

    &~.button-bg-action {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        background: #000;
        transition: all .5s ease;
    }

    &.active {
        &~.button-bg-action {
            z-index: 4;
            opacity: .5;
        }
    }

    .dropdown {
        display: block;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: toRem(15);
        width: 100%;

        &:last-child {
            margin-bottom: 0
        }

        &_container {
            position: absolute;
            max-height: 0;
            overflow: hidden;

            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #fff;
                padding: 0 toRem(20) toRem(10);
            }

            & {
                position: relative;
                left: auto;
                top: auto;
                transition: all .2s ease;
                justify-content: center;
                align-items: center;
                width: 100%
            }

            & .link {
                line-height: 110%;
                display: block;
                width: -moz-max-content;
                width: max-content;
                text-transform: uppercase;
                color: #000;
                padding: 0 10px;
                margin: 0 10px
            }

            & a {
                margin-top: 10px
            }
        }

        &_title {
            font-size: 22px;
            font-weight: 100;

            @include media(m, s) {
                font-size: 18px;
            }
        }

        & a {
            font-size: 18px;
            font-weight: 100;
            color: $c-main-text;
            transition: color .5s ease;

            @include media(m, s) {
                font-size: 14px;
            }
        }

        &_title:hover,
        & a:hover {
            color: $c-orange-text;
            cursor: pointer
        }

        &_title {
            margin: 0 5px;
            padding: 0 8px;
            outline: none;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            color: $c-second-dark-text;
        }

        &.active {
            cursor: pointer;

            .dropdown_container {
                max-height: 1000px;
                transition: max-height .5s ease-in;
                z-index: 5;
                padding: 0;


                .link {
                    transition: all .3s ease
                }

                .link:hover,
                .link.active {
                    color: $c-orange-text;
                    cursor: pointer
                }
            }

            .dropdown_title {
                color: $c-orange-text;
                border-bottom: 2px solid $c-orange-text
            }
        }
    }

    .active_url {
        .dropdown_title, &>.link {
            color: $c-l-orange-text;
            border-bottom: 2px solid $c-l-orange-text;
        }
    }

    .nav {
        min-height: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(90vh - 5.125rem);
        flex-direction: column;
        justify-content: space-between;

        &_controls {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        &_button {
            margin-bottom: toRem(15);
        }

        .links {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            @include media(m, s) {
                margin: 0;
            }
        }

        .button-primary {
            color: #000;
            background-color: $c-orange-text;
            font-size: 1.125rem;
            padding: 10px 20px;
            border-radius: 33px;
            transition: all .3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }


    }
}

.company-logo {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &::before {
        content: '';
        background-image: url(../images/icons/logo-white.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 55px;
    }
}

.fp-viewing-rent-page,
.fp-viewing-sell-page,
.fp-viewing-about {
    .company-logo {
        &::before {
            background-image: url(../images/icons/logo.png);
        }

        @include media(m, s) {
            visibility: hidden;
            opacity: 0;
            z-index: -1;
        }
    }
}

.fp-viewing-contacts {
    .company-logo {
        &::before {
            background-image: url(../images/icons/logo.png);
        }
    }

    .call-us {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}

.fp-watermark {
    visibility: hidden;
    opacity: 0;
}

#fp-nav {
    z-index: 10;
}

.contacts_form {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 toRem(15);

    @include media(s) {
        padding: toRem(15) 0;
    }

    .form {
        &_content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            width: 300px;

            form {
                position: relative;
                width: 100%;
            }
        }

        &_title {
            text-align: center;
            margin: toRem(15) 0;
            color: $c-second-text;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 100;

            @include media(m, s) {
                font-size: 20px;
            }
        }

        &_input-div {
            position: relative;
            display: grid;
            grid-template-columns: 7% 93%;
            margin: toRem(25) 0;
            padding: toRem(5) 0;
            border-bottom: 2px solid #d9d9d9;
            width: 100%;

            &:first-child {
                margin-top: 0;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                width: 0%;
                height: 2px;
                background-color: $c-l-orange;
                transition: .4s;
            }

            &.warning {

                &:before,
                &:after {
                    content: '';
                    background-color: $c-warning;
                }
            }

            &:before {
                right: 50%;
            }

            &:after {
                left: 50%;
            }

            &.focus:before,
            &.warning::before,
            &.focus:after,
            &.warning::after {
                width: 50%;
            }

            &.focus>.form_field>label,
            &.warning>.form_field>label {
                top: -5px;
                font-size: 15px;

                @include media(m, s) {
                    font-size: 14px;
                }
            }

            &.pass {
                margin-bottom: 4px;
            }

            &>.form_field {
                position: relative;
                height: 45px;
                width: 300px;

                &>label {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $c-l-dark;
                    font-size: 18px;
                    transition: .3s;

                    @include media(m, s) {
                        font-size: 16px;
                    }
                }
            }

            &>.form_field>.form_field_input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: none;
                padding: 0.5rem 0.7rem;
                font-size: 20px;
                color: $c-l-dark;
                resize: none;

                @include media(m, s) {
                    font-size: 18px;
                }
            }
        }

        &_button {
            width: 100%;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $c-modal-bg;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &_bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    &_wrapper {
        position: relative;
        z-index: 2;
        padding: toRem(20) toRem(20) toRem(40);
        background: $c-white-bg;
        border-radius: 30px;
    }

    &_button_close {
        display: block;
        position: absolute;
        top: toRem(25);
        right: toRem(25);
        width: 25px;
        height: 23px;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        & span {
            background-color: $c-main-bg;
            position: absolute;
            border-radius: 2px;
            transition: .3s cubic-bezier(.8, .5, .2, 1.4);
            width: 100%;
            height: 3px;
            transition-duration: .5s;

            &:first-child {
                top: 0;
                left: 0;
                transform: rotate(-3deg) scaleY(1.1)
            }

            &:nth-child(2) {
                transform: rotate(45deg);
                top: 8px;
                background-color: $c-orange-text
            }

        }

        & span:first-child {
            transform: rotate(45deg);
            top: 8px;
            background-color: $c-orange-text
        }

        & span:nth-child(2) {
            transform: rotate(-45deg);
            top: 8px;
            background-color: $c-orange-text
        }
    }
}

.footer {
    &_info_line {
        height: 100px;
        background-color: #ffbd45;
        padding: 0 .938rem
    }

    @media (min-width:521px)and (max-width:768px),
    all and (max-width:520px) {
        &_info_line {
            height: auto;
            padding: .938rem
        }
    }

    &_info_line .content_container {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    @media (min-width:521px)and (max-width:768px),
    all and (max-width:520px) {
        &_info_line .content_container {
            flex-direction: column
        }
    }

    &_info_line .content_container .address {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: #fff
    }

    @media (min-width:769px)and (max-width:1000px),
    all and (min-width:521px)and (max-width:768px) {
        &_info_line .content_container .address {
            max-width: 200px
        }
    }

    @media (min-width:521px)and (max-width:768px),
    all and (max-width:520px) {
        &_info_line .content_container .address {
            max-width: 400px;
            order: 2;
            margin-top: 1.25rem
        }
    }

    &_info_line .content_container .address:before {
        content: "";
        background-image: url(../images/icons/location.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 30px;
        min-width: 30px;
        height: 30px;
        margin-right: .938rem
    }

    &_info_line .content_container .contacts {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    &_info_line .content_container .contacts a:first-child {
        margin-right: 1.875rem
    }

    @media (min-width:769px)and (max-width:1000px),
    all and (max-width:520px),
    all and (min-width:521px)and (max-width:768px) {
        &_info_line .content_container .contacts a:first-child {
            margin-right: 0
        }

        &_info_line .content_container .contacts {
            flex-direction: column;
            align-items: flex-start;
            max-width: 200px;
            width: 100%
        }
    }

    @media (min-width:521px)and (max-width:768px),
    all and (max-width:520px) {
        &_info_line .content_container .contacts {
            align-items: center;
            max-width: 400px;
            order: 3
        }
    }

    &_info_line .content_container .contacts .mail,
    &_info_line .content_container .contacts .phone {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        transition: all .3s ease
    }

    @media (min-width:521px)and (max-width:768px),
    all and (max-width:520px) {

        &_info_line .content_container .contacts .mail,
        &_info_line .content_container .contacts .phone {
            margin-top: 1.25rem
        }
    }

    &_info_line .content_container .contacts .mail:before,
    &_info_line .content_container .contacts .phone:before {
        content: "";
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 30px;
        width: 30px;
        height: 30px;
        margin-right: .938rem
    }

    &_info_line .content_container .contacts .mail:hover,
    &_info_line .content_container .contacts .phone:hover {
        cursor: pointer;
        opacity: .6
    }

    &_info_line .content_container .contacts .phone:before {
        background-image: url(../images/icons/phone.svg)
    }

    &_info_line .content_container .contacts .mail:before {
        background-image: url(../images/icons/mail.svg)
    }

    &_menu {
        padding: 2.5rem .938rem 3.75rem
    }

    @media (max-width:520px) {
        &_menu {
            padding-bottom: .625rem
        }
    }

    &_menu .content_container {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap
    }

    @media (min-width:769px)and (max-width:1000px),
    all and (min-width:521px)and (max-width:768px) {
        &_menu .content_container {
            align-items: flex-start
        }
    }

    &_menu .content_container .menu_block {
        display: flex;
        flex-direction: column
    }

    @media (min-width:521px)and (max-width:768px) {
        &_menu .content_container .menu_block {
            min-width: 49%
        }
    }

    @media (max-width:520px) {
        &_menu .content_container .menu_block {
            min-width: 100%
        }
    }

    &_menu .content_container .menu_block .block_title,
    &_menu .content_container .menu_block .link {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: #fff;
        text-transform: uppercase
    }

    &_menu .content_container .menu_block .block_list .link,
    &_menu .content_container .menu_block .block_list .list_item {
        font-size: 12px;
        font-weight: 100;
        line-height: 20px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        outline: none;
        margin-top: .938rem
    }

    &_menu .content_container .menu_block .block_list .link:first-child,
    &_menu .content_container .menu_block .block_list .list_item:first-child {
        margin-top: 0
    }

    &_menu .content_container .menu_block .link {
        transition: all .3s ease
    }

    &_menu .content_container .menu_block .link:hover {
        opacity: .6
    }

    & {
        width: 100%;
        background-color: orange;
        display: flex;
        flex-direction: column
    }

    & .copyright {
        font-size: 13px;
        font-weight: 100;
        opacity: .5;
        color: #fff;
        text-align: center;
        letter-spacing: .1em;
        padding: .938rem 0
    }
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &-inactive {
        display: none;
    }

    &-progress {
        background: $c-main-bg;
        position: fixed;
        z-index: 11;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
    }
}

#preloader {
    transition: all .5s ease-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFF;
    opacity: 1;
    z-index: 12;

    &.hide {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}