@import 'src/styles/tools/to-rem.scss';
.close_icon{
  &-image{
    width: toRem(28);
    height: toRem(28);
    padding: 0.5rem;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      filter: contrast(1);
    }
  }
}