@import 'src/styles/tools/to-rem.scss';
@import 'src/styles/mixins/media.scss';
@import 'src/styles/colors.scss';

.error_boundary {
    &-headline {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}