@import 'src/styles/colors.scss';
@import 'src/styles/tools/to-rem.scss';
@import 'src/styles/fonts/index.scss';
@import 'src/styles/mixins/media.scss';

div .dropdown_select {
    position: relative;
    border-radius: 3px;
    border: 2px solid $c-primary;
    box-sizing: border-box;
    background: $c-base-background;

    min-width: 320px;
    max-width: 320px;
    min-height: 58px;

    &-item {
        &__control {
            // Reset all required styles from lib
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            border-radius: none;
            min-width: 320px;
            max-width: 320px;
            min-height: 58px;
            box-sizing: border-box;

            &:hover {
                border: none;
            }
        }

        &__single-value {
            color: $c-orange-text ;
            font-size: toRem(20);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__indicator {
            color: $c-primary ;

            &-separator {
                display: none;
            }

            svg {
                height: 30px;
                width: 30px;
            }
        }

        &__menu {
            outline: none;
            background: $c-base-background;
            box-shadow: 0px 0px 10px 0px black;
            // border: 2px solid $c-grey-light;
            // border: 1px solid $c-dark-background;

            padding: toRem(8);
            box-sizing: border-box;
            margin: 10px -2px;


            min-width: 320px;
            max-width: 320px;
            box-sizing: border-box;
            border-radius: 5px !important;
            overflow: hidden !important;

            &-list {
                padding: 0;
            }
        }

        &__option {
            min-height: 58px;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            color: $c-text-contrast;
            font-size: toRem(20);
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            border: 2px solid $c-grey;
            border-radius: 4px;
            margin-bottom: toRem(5);

            transition: all .3s ease;
            
            outline: none !important;
            text-decoration: none !important;
            background: transparent;
            background: rgba($c-grey, 0.9);

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                border: 2px solid $c-button-pressed-background;
                color: $c-presed-text;
                background: $c-base-background;
            }
            
            &--is-selected {
                border: 2px solid $c-primary ;
                color: $c-orange-text;
                background: $c-base-background;
            }
        }
    }


    &-item {
        color: $c-orange-text;
        font-size: toRem(20);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

