@import 'src/styles/colors.scss';
@import 'src/styles/mixins/media.scss';
@import 'src/styles/tools/to-rem.scss';
@import 'src/styles/fonts/index.scss';
@import 'src/styles/mixins/link.scss';

.catalog {
    overflow: hidden;
    background-color: $c-light-dark-background;

    .header {
        background-color: $c-light-dark-background;

        &-top_line {
            padding: toRem(20) 0;
            max-height: 110px;
            box-sizing: border-box;

            &-logo {
                max-width: toRem(100);
                max-height: toRem(40);
            }

            &-call_us {
                padding: toRem(15) toRem(20);
                font-size: toRem(16);
                &::before { 
                    max-width: 18px;
                    max-height: 18px;
                }
            }
        }

        &-nav {
            @include media(xxl, xl) {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .products {
        padding: toRem(100) 0 toRem(50);

        &-headline {
            color: $c-text-additional;
            font-size: toRem(40);
            font-style: normal;
            font-weight: 700;
            line-height: toRem(50);
            margin-bottom: toRem(30);

            @include media(m, l) {
                text-align: center;
            }

            @include media(m, s) {
                text-align: left;
                font-size: toRem(40);
            }
        }

        &-describe {
            color: $c-text-additional;
            font-size: toRem(24);
            font-style: normal;
            font-weight: 500;
            line-height: toRem(34);
            /* 140.833% */
            padding: 0;
            margin: 0;

            span {
                text-transform: uppercase;
            }

            @include media(s, m, l) {
                font-size: toRem(20);
            }
        }

        &-pickers {
            &-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;

                @include media(s, m) {
                    flex-direction: column;
                    align-items: center;
                }
            }

            &-button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                border: 2px solid $c-base-background;
                padding: toRem(20) toRem(20);
                margin: toRem(10);
                box-sizing: border-box;
                background: transparent;

                min-height: toRem(80);
                max-width: 310px;
                width: 100%;

                transition: all .5s ease;

                font-size: toRem(16);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                color: $c-text-contrast;

                text-decoration: none !important;
                text-align: center;
                outline: none !important;

                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;

                &.mode {
                    &_white {
                        border: 2px solid $c-black-background;
                        color: $c-text-additional;
                    }

                    &_active {
                        background: $c-base-background;
                        border: 2px solid $c-button-background;
                        color: $c-button-background;
                    }


                    &_link {
                        @include link {
                            padding: 0;
                            border: 0;
                            border-radius: 0;
                            box-shadow: none;
                            height: auto;
                            font-family: inherit;
                            font-weight: inherit;
                            font-size: 1em;
                            font-style: inherit;
                            display: inline-flex;

                            &,
                            &:hover,
                            &:focus,
                            &:active {
                                background-color: transparent;
                            }
                        }
                    }

                    &_text {
                        padding: 0;
                        border: 0;
                        box-shadow: none;
                        height: auto;
                        font-weight: inherit;
                        display: inline-block;
                        font-size: 1em;
                        font-style: inherit;

                        &,
                        &:hover,
                        &:focus,
                        &:active {
                            background-color: transparent;
                        }
                    }
                }

                &.-active {
                    background: $c-base-background;
                    border: 2px solid $c-button-background;
                    color: $c-button-background;
                }

                &:hover {
                    background: $c-button-background;
                    border: 2px solid $c-button-background;
                    color: $c-text-contrast;
                }

                &.-disabled {
                    background-color: darken($c-secondary, 5%);
                    color: rgba($c-text, 0.5);
                    box-shadow: none;
                    pointer-events: none;
                }
            }

            &.-type {
                padding: toRem(88) 0;
                background-image: url('/assets/images/type.jpg');
                background-repeat: no-repeat;
                background-size: cover;

                @include media(s, m, l) {
                    padding: toRem(50) 0;
                }
            }

            &.-equipment {
                padding: toRem(40) 0 0;

                @include media(s, m, l) {
                    padding: toRem(30) 0 0;
                }
            }
        }
    }

    .contacts_footer {
        background-image: url('/assets/images/contacts.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include media(m, s, xs) {
            background-size: 140% 100%;
            background-attachment: fixed;
        }

        &-content {
            height: fit-content;
            position: relative;
            box-sizing: border-box;
            padding: 30px 0 50px;

            @include media(s, xs) {
                padding: 60px 0;
            }
        }

        &-headline {
            color: $c-orange-text;
            font-size: 4vh;
            font-style: normal;
            font-weight: 700;
            line-height: 180%;
            margin-bottom: toRem(25);

            @include media(s, m) {
                font-size: toRem(30);
                line-height: 130%;
            }
        }

        &-description {
            color: $c-text;
            font-style: normal;
            font-weight: 400;
            line-height: 3.5vh;
            font-size: 2.5vh;
            margin-bottom: toRem(25);

            @include media(s, m, xl) {
                line-height: 3vh;
                margin-bottom: toRem(20);
                font-size: 2vh;
            }
        }
        &-link {
            padding: 0;
            margin: 0;
            display: block;
            width: fit-content;
            margin: toRem(10) 0 0;
            color: $c-text;
            font-size: 2.5vh;
            font-style: normal;
            font-weight: 400;
            line-height: 3vh;
            outline: none;
            text-decoration: none;
            height: 3vh;
            overflow: hidden;

            @include media(s, m, xl) {
                line-height: 3vh;
                height: 3vh;
            }

            .text,
            .text__orange {
                font-size: 2.5vh;
                font-style: normal;
                font-weight: 400;
                line-height: 3vh;
                padding: 0;
                margin: 0;
                transform: translateY(0);
                transition: all .3s ease .05s;

                @include media(s, m, xl) {
                    line-height: 3vh;
                    font-size: 2vh;
                }
            }

            &:hover {

                .text,
                .text__orange {
                    transform: translateY(-3vh);

                    @include media(s, m, xl) {
                        transform: translateY(-3vh);
                    }
                }
            }
        }

        &-text {
            color: $c-text;
            font-style: normal;
            font-weight: 400;
            line-height: 3vh;
            font-size: 2.5vh;

            @include media(s, m, xl) {
                line-height: 3vh;
                font-size: 2vh;
            }
        }

        &-social {
            max-height: 30vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &-link {
                position: relative;
                width: 48px;
                height: 48px;
                padding: 5px;
                margin: toRem(20) 0;
                overflow: hidden;
                box-sizing: border-box;

                @include media(s, m, xl) {
                    width: 28px;
                    height: 28px;
                }

                &:hover {
                    &::after {
                        transform: translateY(-48px) !important;

                        @include media(s, m, xl) {
                            transform: translateY(-28px) !important;
                        }
                    }

                    &::before {
                        transform: translateY(0) !important;
                    }
                }

                &.-instagram::after,
                &.-instagram::before,
                &.-tiktok::after,
                &.-tiktok::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 4vh;
                    height: 4vh;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition: all .3s ease .05s;

                    @include media(s, m, xl) {
                        width: 23px;
                        height: 23px;
                    }
                }

                &.-instagram::after {
                    background-image: url('/assets/icons/instagram-black.svg');
                    transform: translateY(0);
                }

                &.-instagram::before {
                    background-image: url('/assets/icons/instagram-orange.svg');
                    transform: translateY(48px);

                    @include media(s, m, xl) {
                        transform: translateY(28px);
                    }
                }

                &.-tiktok::after {
                    background-image: url('/assets/icons/tiktok-black.svg');
                    transform: translateY(0);
                }

                &.-tiktok::before {
                    background-image: url('/assets/icons/tiktok-orange.svg');
                    transform: translateY(48px);

                    @include media(s, m, xl) {
                        transform: translateY(28px);
                    }
                }
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: row-reverse;
            margin-top: toRem(30);

            @include media(s, m) {
                flex-direction: column;
                margin-top: toRem(30);
            }
        }

        &-map {
            flex: 6;
            margin-left: toRem(20);

            @include media(s, m) {
                flex: auto;
                margin: 0 -15px;
                min-height: 300px;
                max-height: 40vh;
                height: 500px;
                position: relative;
            }
        }

        &-form {
            flex: 6;
            box-sizing: border-box;
            border: 2.684px solid rgba(0, 0, 0, 0.70);

            padding: toRem(22) toRem(15);

            @include media(s, m) {
                flex: auto;
                padding: toRem(22) toRem(30);
                margin-top: toRem(30);
            }

            .form {
                &-headline {
                    color: $c-text;
                    font-style: normal;
                    font-weight: 400;
                    font-size: toRem(16);
                    line-height: 22px;
                    margin-bottom: toRem(20);

                    @include media(s, m) {
                        font-size: toRem(20);
                        line-height: 32px;
                        margin-bottom: toRem(30);
                    }
                }

                &-field {
                    position: relative;
                    max-width: toRem(380);
                    margin-top: toRem(12);

                    @include media(s, m) {
                        max-width: 100%;
                    }

                    &-input {
                        background: none;
                        text-decoration: none;
                        outline: none;
                        border: none;

                        border-radius: 3.691px;
                        border: 2px solid rgba(0, 0, 0, 0.70);
                        width: -webkit-fill-available;
                        width: -moz-available;
                        width: fill-available;
                        padding: toRem(12);
                        resize: none;
                    }

                    &-input,
                    &-input::placeholder {
                        font-family: $f-main;
                        color: $c-text;
                        font-size: toRem(14);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 14px;
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        width: 0%;
                        height: 2px;
                        background-color: $c-orange-text;
                        transition: .4s;
                    }

                    &.warning {

                        &:before,
                        &:after {
                            content: '';
                            background-color: $c-orange-text;
                        }
                    }

                    &:before {
                        right: 50%;
                    }

                    &:after {
                        left: 50%;
                    }

                    &.focus:before,
                    &.warning::before,
                    &.focus:after,
                    &.warning::after {
                        width: 49.3%;
                    }

                    &.pass {
                        margin-bottom: 4px;
                    }

                }

                &_button {
                    width: 100%;
                    max-width: toRem(186);
                    margin-top: toRem(18);
                    font-size: 1.7vh;
                    padding: 1.5vh 2vh;
                }
            }
        }
    }
}