// Base colors
// Don't use them directly!
$c-white: #FFFFFF;
$c-grey: #3A3A3A;
$c-grey-light: #F3F2F5;
$c-dark-olive: #555555;
$c-orange: #FF4D00;
$c-orange-dark: #FF6320;
$c-red: #E74500;
$c-light-white: #F5F5F5;
$c-light-black: #202020;

// Color schema
$c-primary: $c-orange;
$c-secondary: $c-grey;

$c-icon-light: $c-grey-light;
$c-icon-dark: $c-dark-olive;

$c-text: $c-grey;
$c-orange-text: $c-orange;
$c-secondary-text: $c-white;
$c-text-button: $c-white;

$c-base-background: $c-white;
$c-dark-background: $c-grey;
$c-overlay-background: rgba($c-text, 0.05);
$c-button-background: $c-orange;
$c-button-hover-background: $c-orange-dark;
$c-button-pressed-background: $c-red;
$c-button-disable-background: rgba(160, 160, 160, 0.57);

