@import 'src/styles/mixins/media.scss';

.smooth_scroll {
    height: 100%;
    position: relative;
    touch-action: none;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .3s ease-in-out;

    @include media(m, s) {
       transform: unset
    }

    &-section {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @include media(m, s) {
            min-height: unset;
        }
    }

    &-wrapper {
        overflow-y: auto;
        justify-content: flex-start;
        max-height: 100vh;
        outline: none;

        @include media(m, s) {
            max-height: unset;
        }
    }
}