@import 'src/styles/tools/to-rem.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins/media.scss';

.products-swiper {
    padding: toRem(50) toRem(20);

    &-item {
        height: toRem(380);
        max-width: toRem(280);
        min-width: toRem(250);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: toRem(30) toRem(30) toRem(50);
        box-sizing: border-box;
        border-radius: 4px;
        background-color: $c-white;

        filter: grayscale(1);
        transition: all .3s ease;

        @include media(l, m, s) {
            margin: 0 15px;
        }

        @include media(l, xl) {
            &:hover {
                cursor: pointer;
                filter: grayscale(0);
                transform: scale(1.1);
            }
        }

        img {
            height: 80%;
        }

        a {
            text-decoration: none;
            outline: none;
        }
    }

    &-text {
        color: $c-text;
        text-align: center;
        font-size: toRem(20);
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .swiper {
        &-slide {
            @include media(l, xl) {
                &:hover {
                    filter: grayscale(0);
                    transform: scale(1.1);
                }
            }
            @include media(s, m) {
                &-active {
                    filter: grayscale(0);
                    transform: scale(1.1);
                }
            }
            
        }
    }
}