@import 'src/styles/tools/to-rem.scss';
@import 'src/styles/mixins/media.scss';
@import 'src/styles/colors.scss';

.list {
    margin-top: toRem(75);
    position: relative;

    @include media(s, m, l) {
        margin-top: toRem(45);
    }

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px 14px;
        justify-content: center;

        @include media(l) {
            grid-template-columns: auto auto auto;
        }

        @include media(s, m) {
            grid-template-columns: auto auto;

            &.--row {
                grid-template-columns: auto;
            }
        }
    }

    &-switches {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        height: 20px;
        display: none;
        justify-content: flex-end;
        align-items: flex-start;

        @include media(s, xs, m) {
            display: flex;
        }

        &.--block {
            .--block span {
                background: $c-button-background;
            }
        }

        &.--row {
            .--row span {
                background: $c-button-background;
            }
        }
    }


    &-switch {
        display: grid;
        gap: 2px 2px;
        grid-template-columns: 8px 8px;


        &.--block {
            margin-right: toRem(5);

            span {
                width: 8px;
                height: 8px;
            }
        }

        &.--row {
            margin-right: toRem(5);
            grid-template-columns: 1fr;

            span {
                width: 18px;
                height: 3px;
            }
        }

        span {
            background: $c-nobel;
            transition: all .3s ease-in-out;
        }
    }
}