$c-white: #FFFFFF;
$c-orange: #FFA500;
$c-l-orange: #ffc966;
$c-black: #000000;
$c-l-dark: #555;
$c-light-gray: #f2f2f2f9;
$c-red: #ff2a2a;

$c-main-text: $c-white;
$c-second-text: $c-l-dark;
$c-second-dark-text: $c-black;
$c-orange-text: $c-orange;
$c-l-orange-text: $c-l-orange;

$c-main-bg: $c-orange;
$c-gray-bg: $c-light-gray;
$c-white-bg: $c-white;
$c-second-o-bg: $c-l-orange;
$c-modal-bg: rgba(0, 0, 0, .6);

$c-warning: $c-red;