$c-white: #FFFFFF;
$c-orange: #FFA500;
$c-l-orange: #FFBD45;
$c-black: #000000;
$c-light-gray: #f2f2f2f9;

$c-main-text: $c-white;
$c-second-text: $c-black;
$c-orange-text: $c-orange;

$c-main-bg: $c-orange;
$c-gray-bg: $c-light-gray;
$c-white-bg:$c-white;
$c-second-o-bg: $c-l-orange;