@import 'src/styles/colors.scss';

@mixin button() {
  display: block;
  width: fit-content;
  padding: toRem(20) toRem(22);

  background-color: $c-button-background;

  color: $c-text-button;
  font-weight: 700;
  font-size: toRem(20);
  
  text-decoration: none;

  transition: all 0.3s;
  cursor: pointer;
  border-radius: 4px;

  @include media(xl) {
    padding: toRem(15) toRem(20);
    font-size: toRem(16);
  }

  &.--phone {
    display: flex;
    flex-direction: row;

    span {
      margin-left: toRem(20);
    }

    &::before {
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      background-image: url('/assets/icons/phone.svg');
      background-size: contain;
      background-repeat: no-repeat;

      @include media(xl) {
        width: 18px;
        height: 18px;
      }
    }
  }

  &:hover {
    background-color: $c-button-hover-background;
    text-decoration: none;
  }

  &:focus {
    background-color: $c-button-hover-background;
    outline: none;
    text-decoration: none;
  }

  &:active {
    background-color: $c-button-pressed-background;
    text-decoration: none;
  }

  @content;
}
