@import 'src/styles/colors.scss';

@mixin link() {
  color: $c-primary;
  text-decoration: underline;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: darken($c-primary, 15%);
    text-decoration: none;
  }

  &:focus {
    color: darken($c-primary, 20%);
    outline: none;
    text-decoration: none;
  }

  &:active {
    color: darken($c-primary, 35%);
    text-decoration: none;
  }

  @content;
}
