@import 'src/styles/mixins/z-index.scss';
@import 'src/styles/colors.scss';

@mixin overlay($zIndex: 5) {
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  background: $c-overlay-background;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  @include groupedZIndex('overlay', $zIndex);
}

@mixin overlayBack() {
  opacity: 0.5;
}
